{% extends "base.html" %}

{% block title %}{% if mode == "update" %}スポット編集{% else %}スポット追加{% endif %}{% endblock %}
{% block header_title %}{% if mode == "update" %}スポット編集{% else %}スポット追加{% endif %}{% endblock %}
{% block header_action %}
  <a class="btn btn-sub" href="{% url 'spots:spot_list' %}">戻る</a>
{% endblock %}

{% block extra_css %}
<style>
  .card{background:#fff;border-radius:16px;padding:18px;box-shadow:0 6px 18px rgba(0,0,0,.06);border:1px solid #eee;}
  .btns{display:flex;gap:10px;margin-top:14px;}
  label{display:block;font-size:13px;color:#374151;margin-bottom:6px;font-weight:800;}
  input, textarea, select{width:100%; padding:10px; border:1px solid #ddd; border-radius:10px;}
</style>
{% endblock %}

{% block content %}
<div class="card">
  <div class="muted">スポット名と住所を入力してください</div>

  <form method="POST">
    {% csrf_token %}

  <label>気分</label>
  {{ form.mood }}
</div>
<div>
  <label>目的</label>
  {{ form.purpose }}
</div>
<div>
  <label>開始時間</label>
    {{ form.start_at }}
</div>
<div>
  <label>終了時間</label>
  {{ form.end_at }}
</div>
<div>
  <label>言語</label>
  {{ form.language }}
</div>

<div class="btns">
  <button class="btn" type="submit">
    {% if mode == "update" %}更新する{% else %}登録する{% endif %}
  </button>
  <a class="btn btn-sub" href="{% url 'spots:spot_list' %}">キャンセル</a>
 </div>
</form>
</div>
{% endblock %}
