{% extends "base.html" %}

{% block title %}クチコミ一覧{% endblock %}
{% block header_title %}クチコミ一覧{% endblock %}
{% block header_action %}{% endblock %}

{% block content %}
<div class="wrap">

  <h1>
    {% if spot %}
      {{ spot.name }}のクチコミ一覧
    {% else %}
      クチコミ一覧
    {% endif %}
  </h1>

  {% if spot_id %}
    <div style="margin:8px 0;">
      <a class="btn btn-sub"
         href="{% url 'spots:spot_detail' spot_id %}">
        ← スポット詳細へ戻る
      </a>
    </div>
  {% endif %}

  <!-- 並び替え -->
  <div style="margin:12px 0; display:flex; gap:8px;">
    <a class="btn btn-sub" href="?{% if spot_id %}spot={{ spot_id }}&{% endif %}sort=new">新着順</a>
    <a class="btn btn-sub" href="?{% if spot_id %}spot={{ spot_id }}&{% endif %}sort=high">評価が高い順</a>
    <a class="btn btn-sub" href="?{% if spot_id %}spot={{ spot_id }}&{% endif %}sort=low">評価が低い順</a>
  </div>

  {% for r in reviews %}
    <div class="card">
      <div class="row">
        <div class="title">
          <a href="{% url 'spots:spot_detail' r.spot.pk %}">
            {{ r.spot.name }}
          </a>
        </div>
        <div style="font-weight:900;">★ {{ r.rating }}</div>
      </div>

      <div class="muted">
        投稿者: {{ r.user.username }} / {{ r.created_at|date:"Y-m-d H:i" }}
      </div>

      <p style="margin-top:10px; white-space:pre-wrap;">{{ r.comment }}</p>
    </div>
  {% empty %}
    <div class="card">
      <p>クチコミがまだありません。</p>
    </div>
  {% endfor %}

</div>

{% if page_obj.pagenator.num_pages > 1 %}
  <div style="margin:20px 0; display:flex; gap:8px; justify-content:contenter;">

    {% if page_obj.has_previous %}
      <a class="btn btn-sub"
        href="?spot={{ spot_id }}&sort={{ sort }}&page={{ page_obj.previous_page_number }}">
       ← 前へ
      </a>
    {% endif %}

    <span style="padding:6px 12px;">
      {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a class="btn btn-sub"
        href="?spot={{ spot_id }}&sort={{ sort }}&page={{ page_obj.next_page_number }}">
       次へ →
      </a>
    {% endif %}

    </div>
  {% endif %}
{% endblock %}
