{% extends "base.html" %}
{% block title %}パスワード変更{% endblock %}
{% block header_title %}パスワード変更{% endblock %}

{% block content %}
  <h2 style="magin:0 0 12px;">パスワード変更</h2>
  <p class="muted" style="magin:0 0 18px;">
    現在のパスワードと、新しいパスワードを入力してください。
  </p>

  <form method="post" style="max-width:520px;">
    {% csrf_token %}

    {{ form.as_p }}

    <div style="margin-top:14px;">
        <button class="btn" type="submit">変更する</button>
        <a class="btn btn-sub" href="{% url 'home' %}" style="margin-left:8px">戻る</a>
    </div>
</form>
{% endblock %}

